html {
  scroll-behavior: smooth;
}
.cta-shadow {
  box-shadow: 4px 4px 0px 0px #fec115;
  transition: all 0.2s ease;
}
.cta-shadow:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px #fec115;
}
.nav-link {
  @apply text-sm font-medium text-gray-300 hover:text-amber-gold transition-colors;
}
.mobile-link {
  @apply text-base font-semibold text-white hover:text-amber-gold transition-colors;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes shakeEvery5s {
  0%,
  90% {
    transform: translateX(0);
  }
  91%,
  93%,
  95%,
  97%,
  99% {
    transform: translateX(-5px);
  }
  92%,
  94%,
  96%,
  98% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.whatsapp-shake {
  animation: shakeEvery5s 5s ease-in-out infinite;
}
