html {
  scroll-behavior: smooth;
}

.text-stroke-sm {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.cta-shadow {
  box-shadow: 4px 4px 0px 0px #fec115;
  transition: all 0.2s ease;
}
.cta-shadow:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px #fec115;
}

.nav-link {
  @apply text-sm font-medium text-gray-300 hover:text-amber-gold transition-colors;
}

.mobile-link {
  @apply text-base font-semibold text-white hover:text-amber-gold transition-colors;
}
